<% include ./partials/header %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
				<h1 class="header">About Me</h1>	
				<hr class="blackHr">
		</div>
	</div>
  <div class="row" id="bigScreen">
    <div class="col-md-2">
      <div id="links">
        <a href="https://www.linkedin.com/in/nicholas-howe-7a7357164/" class="linkAnchor"><span id="linkedin"><i class="fab fa-linkedin"></i></span> LinkedIn</a>
        <br>
        <a href="https://github.com/Kronix129" class="linkAnchor"><span id="github"><i class="fab fa-github"></i></span> GitHub</a>
      </div>
      <img src="images/dog.jpg" id="myPhoto">
      </div>
    <div class="col-md-10">
      <p class ="aboutmeText">Welcome!</p>
      <p id="aboutmeContent">My name is Nicholas Howe, I am 20 years old and currently studying Computer Science and Information Systems at the University of Auckland New Zealand. I will be completing my studies at the end of next year (2019). 
      <br>
      <br>
      I am currently an intern at Vista Entertainment Solutions, set to work during the summer of 2018/2019. 
      I have been coding for one and a half years now and have found my passion in IT for full stack web development and app development, with extra interests in cyber security. 
      <br>
      <br>
      In my spare time I like to participate in sports, gym and tinker with/learn code revolving around my interests. This is my personal portfolio website, aimed to practice and implement new skills that I will learn.
      </p>
    </div>
  </div>
  <hr class="blackHr">
  <h1 class="header" id="prevP">Previous Projects</h1>
  <div class="row">
    <div class="col-lg-12">
        <div class="test">
          <img src="images/memoryGame.jpg" class="image">
          <div class="overlay">
            <div class="text">
            Memory Game
            <hr class="projectHr">
            <p>This is a memory game that I created. It demonstrates my ability to use DOM manipulation through event listeners.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>