<!DOCTYPE html>
<html>
<head>
	<title>Memory Game</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/memory-game.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body id="body">
	<h1>The Colour 
	<br>
	Memory Game</h1>
	<div id="stripe">
		<button id="restart">Restart</button>
		<a href="/"><button>Home</button></a>
		<span id = space></span>
		<span class = scoreFormat>Score : <span id="score">0</span> || Attempts : <span id="attempts"> 0 </span></span>
	</div>
	<div class="container">
		<div class="square clickable"></div>
		<div class="square clickable"></div>
		<div class="square clickable"></div>
		<div class="square clickable"></div>
		<div class="square clickable"></div>
		<div class="square clickable"></div>
		<div class="square clickable"></div>
		<div class="square clickable"></div>
		<div class="square clickable"></div>
		<div class="square clickable"></div>
		<div class="square clickable"></div>
		<div class="square clickable"></div>
	</div>

	
<script type="text/javascript" src="/lib/jQueryMin.js"></script>
<script type="text/javascript" src="/appScripts/memory-game.js"></script>
</body>
</html>